/* src/App.css */
body {
  font-family: 'Arial', sans-serif;
  background:linear-gradient(to bottom, #9999ff 0%, #33cccc 100%);
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  background: linear-gradient(to bottom, #9999ff 0%, #ff99cc 100%);;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

input {
  padding: 12px;
  margin-right: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  width: calc(100% - 120px);
  box-sizing: border-box;
}

button {
  padding: 12px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  transition: background-color 0.3s, transform 0.3s;
}

li:hover {
  background-color: #f1f1f1;
  transform: translateY(-2px);
}

li button {
  background-color: #dc3545;
  padding: 6px 12px;
  font-size: 14px;
}

li button:hover {
  background-color: #c82333;
}
